@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
.bg-container{
  background: linear-gradient(180deg, #F95CC3 0%, #A04B95 0%, #6D427B 40.69%, #4F3C6C 73.86%, #13314D 100%) !important;
} */

.main-container {
  display: flex; /* Flex container */
  height: 100vh; /* Full viewport height */
}

.content-area {
  margin-left: 250px; /* Keeps the content to the right of the sidebar */
  flex-grow: 1;       /* Allows content area to take up remaining space */
 
  background: linear-gradient(180deg, #F95CC3 0%, #A04B95 0%, #6D427B 40.69%, #4F3C6C 73.86%, #13314D 100%);
  display: flex;
  flex-direction: column; /* Stack elements vertically inside content area */
}


 
.sidebar{
   background: linear-gradient(180deg, #F95CC3 0%, #A04B95 0%, #6D427B 40.69%, #4F3C6C 73.86%, #13314D 100%);
  background-color: rgba(217, 217, 217, 0.2); /* Transparent Background */
  background-blend-mode: overlay; 

  position: fixed; /* Fixes the sidebar in place */
  top: 0;          /* Aligns to the top */
  left: 0;         /* Aligns to the left */
  height: 100vh;   /* Makes it full height */
  width: 250px;    /* Sets a consistent width */
  color: white;    /* White text for readability */
  padding: 20px; 
}

.flex-items-space {
  display: flex; /* flex */
  align-items: center; /* items-center */
  margin-bottom: 1.5rem; /* mb-6 */
  gap: 0.75rem; /* space-x-3 */
}




.navBar{
  justify-content: center;
  align-items: center;
}
